<div class="row">
    <div class="col-sm">
        <h1>
            <%- eventData.name -%>
        </h1>
        <img width="250" src=<%- eventData.images[0].url -%> />
        <div id="map<%= index %>" style="height: 450px; width: 450px;"></div>
    </div>
    <div class="col-sm">
        <% if(eventData.priceRanges) {%>
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Min.</td>
                        <td>Max.</td>
                    </tr>
                </thead>
                <tbody>
                    <% eventData.priceRanges.forEach((priceRange)=> {%>
                        <tr>
                            <td>
                                <%= priceRange.currency%>
                            </td>
                            <td>
                                <%= priceRange.min%>
                            </td>
                            <td>
                                <%= priceRange.max%>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
            <%}%>
        <a class="btn btn-primary" target="_blank" href=<%- eventData.url -%> > Boek nu  </a>
    </div>
</div>

<script>
    '<% if(eventData._embedded.venues) { %>' 
        '<% eventData._embedded.venues.forEach(function(ven) { %>' 
            '<% if(ven.location) { %> ' 
            var longFirst = '<%= ven.location.longitude %>';
            var latFirst = '<%= ven.location.latitude %>';
            '<% } %>'
        '<% }) %>'
    '<% } %>'
    
    var map = L.map('map<%= index %>').setView([Number(latFirst), Number(longFirst)], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    '<% eventData._embedded.venues.forEach(function(venue) {%>'
    '<% if(venue.location) { %> '
    var long = '<%= venue.location.longitude %>';
    var lat = '<%= venue.location.latitude %>';
    L.marker([Number(lat), Number(long)]).addTo(map)
        .bindPopup('<%= venue.name %>')
        .openPopup();
    '<% } %>'
    '<% }); %>'
</script>