<div class="row">
    <div class="col-sm">
        <h1>
            <%- eventData.name -%>
        </h1>
        <img width="250" src=<%- eventData.images[0].url -%> />
        <div id="map<%= index %>" style="height: 450px; width: 450px;"></div>
    </div>
    <div class="col-sm">
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td>Min.</td>
                    <td>Max.</td>
                </tr>
            </thead>
            <tbody>
                <% eventData.priceRanges.forEach((priceRange) => {%>
                <tr>
                    <td><%= priceRange.currency%></td>
                    <td><%= priceRange.min%></td>
                    <td><%= priceRange.max%></td>
                </tr>
                <%})%>
            </tbody>
        </table>
        <a class="btn btn-primary" href=<%- eventData.url -%> > Book now </a>
    </div>
</div>

<script>
    var longFirst = '<%= eventData._embedded.venues[0].location.longitude %>';
    var latFirst = '<%= eventData._embedded.venues[0].location.latitude %>';
    var map = L.map('map<%= index %>').setView([Number(longFirst), Number(latFirst)], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    '<% eventData._embedded.venues.forEach(function(venue) {%>'
        var long = '<%= venue.location.longitude %>';
        var lat = '<%= venue.location.latitude %>';
        L.marker([Number(long), Number(lat)]).addTo(map)
        .bindPopup('<%= venue.name %>')
        .openPopup();
    '<%}); %>'
</script>